*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
h1{
	text-align: center;
}
img{
	width: 100%;
}
.container{
	max-width: 1100px;
	margin: auto;
  	overflow: auto;
 	padding: 0 2rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}
.card>div{
	padding: 2rem;
}
.card>img{
	height: 500px;
}
@media(max-width: 700px){
	.card{
		display: block;
	}
}
